.title {
    color: #DCDCDC;
    display: inline-block;
    position: center;
    font-size: 80px;
    transition: 0.3s;
    font-style: normal;
    font-weight: 100;
    font-family: 'Dosis', sans-serif;
    cursor: default;
    margin-top: 25px;
    margin-bottom: 5px;
}

.subtitle {
    color: #DCDCDC;
    position: center;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 25px;
    transition: 0.3s;
    font-style: normal;
    font-weight: 100;
    font-family: 'Dosis', sans-serif;
    cursor: default;
}

.accent-color {
    color: #DC3522;
    transition: 0.3s;
}

.title:hover, .title:active  {
    color: #DC3522;
}

.title:hover .accent-color, .title:active .accent-color {
    color: #DCDCDC;
}
